/* Основные*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --color-h: #212121;
  --color-text: #757575;
  --color-footer-adress: rgba(255, 255, 255, 0.6);
  --primary-white: #ffffff;
  --color-hf-logo: #2196f3;
  --color-hero-footer: #2f303a;
  --section-padding: 94px;
  --footer-paddingtb: 60px;
  --element-margin: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-h);
  background-color: var(--primary-white);
}
/*button index*/
.btn {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.btn-primary {
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--color-hf-logo);
  color: var(--primary-white);
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #188ce8;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*header*/
.header {
  border-bottom: 1px solid #ececec;
}
.header-page {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
}
.header-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-item + .header-item {
  margin-left: 50px;
}
.header-contakt {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-hf-logo);
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header span {
  color: #000000;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-h);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-hf-logo);
}

.header-cont {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-cont:hover,
.header-cont:focus {
  color: var(--color-hf-logo);
}
.header-icon {
  fill: currentColor;
  margin-right: 10px;
}
.current {
  color: var(--color-hf-logo);
  position: relative;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--color-hf-logo);
  left: 0;
  bottom: -32px;
}
/*hero*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  background-color: var(--color-hero-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white);
  margin: 0 auto;
}
/*main index*/
/*about описание преимуществ*/
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
}
.about-link {
  width: 270px;
  height: auto;
}

.list-about {
  display: flex;
  justify-content: space-between;
}
.about-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}
.about-im {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--element-margin);
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}
/*work виды работ*/
.work {
  padding-bottom: var(--section-padding);
}
.list-work {
  display: flex;
}
.list-img + .list-img {
  margin-left: var(--element-margin);
}

.work-name {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.work-wrap {
  position: relative;
}
.work-text {
  color: var(--primary-white);
  position: absolute;
  font-weight: 700;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
}
/*team сотрудники*/
.list-team {
  display: flex;
}
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: #f5f4fa;
}
.team-name {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.link-name + .link-name {
  margin-left: var(--element-margin);
}
.link-name {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-job {
  padding-top: var(--element-margin);
  padding-bottom: var(--element-margin);
  text-align: center;
  background-color: var(--primary-white);
  border-radius: 0px 0px 4px 4px;
}
.team-man {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-hf-logo);
  color: var(--primary-white);
}
.team-social-icon {
  fill: currentColor;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}
.clients-container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.clients-name {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  color: var(--color-h);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-link {
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--color-hf-logo);
  border: 1px solid var(--color-hf-logo);
}
.clients-item + .clients-item {
  margin-left: var(--element-margin);
}
.clients-icon {
  fill: currentColor;
}
/* portfolio*/
/* button portfolio*/
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list + .button-list {
  margin-left: 8px;
}
.btn-secondary {
  font-weight: 500;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: var(--color-h);
  text-decoration: none;
  padding: 6px 22px;
  box-shadow: none;
  border-radius: none;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--color-hf-logo);
  color: var(--primary-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}
.portfolio-link {
  display: block;
  flex-basis: calc(100% / 3 - var(--element-margin));
  margin-left: var(--element-margin);
  margin-bottom: var(--element-margin);
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:focus,
.portfolio-link:hover .portfolio-top-text {
  transform: translateY(0);
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: var(--primary-white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--color-h);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
.portfolio-des {
  padding: 20px 24px;
  border-top: none;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
/*Footer*/
.footer {
  display: flex;
  align-items: flex-start;
  background-color: var(--color-hero-footer);
  padding-top: var(--footer-paddingtb);
  padding-bottom: var(--footer-paddingtb);
}
.footer-contakt {
  margin-top: 20px;
}
.footer-adress {
  margin-bottom: 9px;
}
.list .footer-list {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-footer-adress);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list:hover,
.footer-list:focus {
  color: var(--primary-white);
}
.footer span {
  color: var(--primary-white);
}
.footer-join {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-bottom: 20px;
}
.footer-link {
  color: var(--primary-white);
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-hf-logo);
  color: var(--primary-white);
}
.footer-social-icon {
  fill: currentColor;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms;
}
.close-buttom {
  background-color: var(--primary-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-buttom:hover {
  cursor: pointer;
  background-color: var(--color-hf-logo);
}
.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: rotate(300deg) scale(0.1);
}
